* {
   font-family: 'Shadows Into Light Two', cursive;
}
/*css for about us animation*/
.flip-container {
  perspective: 1000;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 185px;
  height: 357px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  background-color: black;
  padding: 5px;
  color: white;
  transform: rotateY(180deg);
}

/*flex container for about us pics*/
.rowOneContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  display: inline-flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.rowTwoContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  display: inline-flex;
  justify-content: space-around;
}
