/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family:"LMS Cat Treats";
  src:url("LMS_CAT.eot?") format("eot"),
  url("LMS_CAT.woff") format("woff"),
  url("LMS_CAT.ttf") format("truetype"),
  url("LMS_CAT.svg#LMSCatTreats") format("svg");
  font-weight:normal;
  font-style:normal;
  }

/* Add to h1.shadows to replace old font
font-family: "LMS Cat Treats", cursive;

Add to all HTML files:

<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

*/
