/*Nav Style from: http://codepen.io/sahilpopli/pen/jcqBk */

nav {
  margin: 50px;
}

ul {
  overflow: auto;
  list-style-type: none;
  }
header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }
  .navstyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

/*insert styling for whitecat1 and whitecat2 here*/

.shadows {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: #ccc;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li a:hover {
  color: #666;
}

li.active a {
  font-weight: bold;
  color: #333;
}
