/*Nav Style from: http://codepen.io/sahilpopli/pen/jcqBk */
*{
  font-family: Helvetica, Verdana, sans-serif;
  color: #300032;
}

body {
  background-color: #E0EFF1;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    border-style: solid;
    border-color: #300032;
    border-width: 1px;
    border-radius: 30px;
    background-color: #50BFBD;
    box-shadow: 0 10px 6px -6px black;
    margin-bottom: 5%;
}
  .navstyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    background-color: transparent;
    overflow: auto;
    list-style-type: none;
  }

  .kittyTitle {
    background-color: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
  }

.kittyTitle img {
  width: 250px;
  height: 250px;
}

.kittyTitle img:hover {
    -ms-transform: scale(1.5,1.5); /* IE 9 */
     -webkit-transform: scale(1.5,1.5); /* Chrome, Safari, Opera */
     transform: scale(1.5,1.5);
  }


.shadows {
  text-decoration: none;
  color: black;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
  background-color: transparent;
/*
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;*/
}

.navlist {
  float: left;
  margin-right: 5px;
  /*border-right: 1px solid #aaa;*/
  padding: 0 20px;
}

.navlist:last-child {
  border-right: none;
}

.navlist a {
  text-decoration: none;
  color: #836585;
  font: 25px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navlist a:hover {
  color: #580653;
}

.navlist.active a {
  font-weight: bold;
  color: #300032;
}
