@font-face {
  font-family:"LMS Cat Treats";
  src:url("LMS_CAT.eot?") format("eot"),
  url("LMS_CAT.woff") format("woff"),
  url("LMS_CAT.ttf") format("truetype"),
  url("LMS_CAT.svg#LMSCatTreats") format("svg");
  font-weight:normal;
  font-style:normal;
}

*{
  font-family: Helvetica, Verdana, sans-serif;
  color: #300032;
}

/*changes the section within the header to a flexbox for all html pages*/
.kittyTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

h1.shadows {
  font-size: 500%;
  /*font-family: 'Amatic SC', cursive;*/
  font-family: "LMS Cat Treats", cursive;
  color: #300032;
  padding: 1%;
  margin: 1%;
  text-align: center;
}

/*p {
  font-family: 'Montserrat', sans-serif;
}*/

section.howToPlay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  position: relative;
  z-index: 5;

}

section#gameInput {
  background-color: transparent;
  padding: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  position: relative;
}

p#printQuestion {
  font-size: 400%;
  font-weight: bolder;
  background-color: #5EC4B7;
  padding: 2%;
  margin: 1%;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px black;
  opacity: 1;
}
p#instructions {
background-color:#CAA2DD;
border-radius: 15px;
box-shadow: 0px 0px 10px black;
width: 50%;
height: auto;
padding: 1%;
margin: 1%;
text-align: center;
border: 1px solid black;
}
p#instructions b{
background-color:#CAA2DD;
}

#startGame {
  box-shadow: 0px 0px 8px black;
  background-color: #5EC4B7;
  font-size: 100%;
  font-weight: bold;
  border-radius: 15px;
  margin: 1%;
  border: 1px solid black;
  /*text-shadow: 1px 1px white;*/
}

.startButton {
  position: relative;
  z-index: 10;
}

#submitAnswer {
  background-color: #5EC4B7;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px black;
  border: 1px solid black;
}

#submitAnswer label{
  background-color: #5EC4B7;
}

#scoreLink {
  display: flex;
  font-size: 24px;
  width:100%;
  justify-content: center;;
  text-decoration: none;
}

#scorebox {
  width: 100%;
  text-align: center;
}

#kitty-links p{
  width: 100%;
  text-align: center;
}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;

  }

/*img {
  width: 100%;
  height: 100%;
}*/
