
/*changes the section within the header to a flexbox for all html pages*/
.kittyTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

h1.shadows {
  font-size: 500%;
  font-family: 'Amatic SC', cursive;
  color: #5EC4B7;
  padding: 1%;
  margin: 1%;
}

section.howToPlay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

section#gameInput {
  background-color:#CAA2DD;
  padding: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  box-shadow: 0px 0px 10px black;
}
p#printQuestion {
  font-size: 400%;
  font-weight: bolder;
  font-family: Tahoma, sans-serif;
  background-color: #5EC4B7;
  padding: 2%;
  margin: 1%;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px black;
}
p#instructions {
background-color:#CAA2DD;
border-radius: 15px;
box-shadow: 0px 0px 10px black;
width: 50%;
height: auto;
padding: 1%;
margin: 1%;
}
#startGame {
  box-shadow: 0px 0px 8px black;
  background-color: #5EC4B7;
  font-family: Tahoma, sans-serif;
  font-size: 100%;
  font-weight: bold;
  border-radius: 30px;
  margin: 1%;
  border: 1px solid white;
  text-shadow: 1px 1px white;
}
#submitAnswer {
  background-color: #5EC4B7;
  padding: 2%;
}
#scoreLink {
  font-size: 100%;
  color: purple;
}
