*{
  font-family: Helvetica, Verdana, sans-serif;
  color: #300032;
}
#countdownCounter {
  font-size: 100px;
  text-align: center;
  color: #5EC4B7;
  margin:1%;
  padding:0%;
  margin-top: -100px;
  position: relative;
  z-index: 5;
}

#gameClock {
  font-size: 100px;
  text-align: center;
  color: #300032;
  margin:1%;
  padding:0%;
  margin-top: -100px;
  position: relative;
  z-index: 5;
}
